	select { font-family: Tahoma, Arial, Helvetica; font-size: 11px; color: #ffb019; background-color: #030a14; }
	
	.attribute 		{ font-family: "Arial", "Helvetica", "Sans-Serif"; color: #000000; font-weight: bold; font-size: 12;}	   

   	   #adancers { position: absolute;
			top: -132px;
			left: -18px;
			z-index: 100;
       }	 

   	   #hdancers { position: absolute;
			top: -146px;
			left: 30px;
			z-index: 100;
       }	 
	   
		#wrapper { position: relative; }
	   
	   #danceMaster { position: relative; font-family: Arial, Helvetica, sans-serif; font-size: 11px; }
	   
	   #danceShelltop { position: relative;
	   		background: url('../images/basics/dancing/bgtop.jpg') repeat-x;
			height: 114px;
	   }
	   
	   		#danceShelltop .left { float: left;
					width: 360px;
					height: 104px;
					background: url('../images/basics/dancing/ringtop.jpg') no-repeat bottom right;
					margin: 10px 0 0 0;
			}
					
	   #danceShellmid { position: relative;
	   		background: url('../images/basics/dancing/tilem1.jpg') repeat-x;
			height: 144px;
	   }
	   
	   		#danceShellmid .left { float: left;
					width: 379px;
					height: 144px;
			}
			
				   	#danceShellmid .ring1 { float: left;
						width: 204px;
						height: 144px;
						background: url('../images/basics/dancing/ringleft.jpg') no-repeat;
					}
					
				   	#danceShellmid .ring2 { float: right;
						width: 175px;
						height: 144px;
						background: url('../images/basics/dancing/ringright.jpg') no-repeat;
					}
			
	   		#danceShellmid .right { float: right;
					background: url('../images/basics/dancing/bannerright.gif') no-repeat right;
					width: 245px;
					height: 144px;
			}		
			
	   			#danceShellmid .header-en { position: relative;
						background: url('../images/basics/dancing/en/selectdance.gif') no-repeat right;
						width: 232px;
						height: 41px;
						margin: 10px 24px 0 0;
				}	
	   			#danceShellmid .header-fr { position: relative;
						background: url('../images/basics/dancing/fr/selectdance.gif') no-repeat right;
						width: 232px;
						height: 41px;
						margin: 10px 24px 0 0;
				}	
	   			#danceShellmid .header-de { position: relative;
						background: url('../images/basics/dancing/de/selectdance.gif') no-repeat right;
						width: 232px;
						height: 41px;
						margin: 10px 24px 0 0;
				}			
				
	   			#danceShellmid .select { position: relative;
						margin: 16px 20px 0 0;
						text-align: right;
				}			
				
				#danceShellmid span { font-family: Tahoma, Arial, Helvetica; font-size: 11px; color: #ffb019; padding: 0 7px 0 0; }		
				#danceShellmid p { margin: 8px 0 0 0; }
				
	   #files { font-family: Arial, Helvetica, sans-serif; font-size: 11px; }
	   #files span { font-family: Arial, Helvetica, sans-serif; font-size: 11px; }

	   #danceShellbot { position: relative;
	   		background: url('../images/basics/dancing/bgbottom.jpg') repeat-x top;
			height: 177px;
	   }
	   
	   		#danceShellbot .left-en { float: left;
					width: 360px;
					height: 177px;
					background: url('../images/basics/dancing/en/ringbottom.jpg') no-repeat top right;
			}
					#danceShellbot .left-fr { float: left;
					width: 360px;
					height: 177px;
					background: url('../images/basics/dancing/fr/ringbottom.jpg') no-repeat top right;
			}
			   		#danceShellbot .left-de { float: left;
					width: 360px;
					height: 177px;
					background: url('../images/basics/dancing/de/ringbottom.gif') no-repeat top right;
			}
			
